.img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    float: left;
}
.offer-text{
    width: 64%;
    height: 90px;
    float: left;    
    margin-top: 10px;
    margin-left: 20px;
    background-color: gold;
}
.texts{
    font-size: 12px;
    color: black;
}
.text{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}